<%-include('partials/header.ejs')-%>

<div class="container-fluid">
      <h3 id="footer">Your shortened url is : <em>localhost:3000/<%=codedata%></em></h3>
      <a id="url" class="btn btn-info" href="/">Go Back</a>
</div>

<%-include('partials/footer.ejs')-%>
